/* Common */

* {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #0098CC;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 17px;
    color: #0086b3;

    background-color: rgba(0, 152, 204, 0.07);
}

blockquote {
    font-style: italic;

    background-color: rgba(0, 152, 204, 0.07)
}

p {
    margin-top: 13px;
    margin-bottom: 13px;

    color: #3E3E3E;
    font-weight: 300;

    text-align: justify;
    text-justify: inter-word;
}

li {
    text-align: justify;
    text-justify: inter-word;
}

ul li {
    color: #3E3E3E;
    font-weight: 300;
}

ol li {
    color: #3E3E3E;
    font-weight: 300;
}

.highlight {
    height: 3px;
    background-color: #0098CC;
    background-image: linear-gradient(135deg, #0098CC -20%, #006c90 120%);
}

header {
    overflow: auto;

    width: 100%;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DCDCDC;
}

header a {
    height: 64px;

    color: #0098CC;

    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    font-weight: bold;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.align-right {
    text-align: right;
}

#content{
    flex: 1;
}

#main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
}

.post-title {
    margin-bottom: 25px;

    font-weight: 300;
    text-align: center;

    background: -webkit-linear-gradient(#0089B8, #0098CC);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

#post-summary .summary-title {
    color: #0098CC;
    margin-bottom: 5px;
}

#post-summary .summary-title a {
    font-weight: 300;
    text-decoration: none;
}

#post-summary #read-more {
    width: 100%;
    text-align: right;
}

.post-separator {
    margin-top: 25px;
    margin-bottom: 45px;
    width: 90%;

    border: 0;
    height: 1px;

    background-image: -webkit-linear-gradient(left, #F0F0F0, #DCDCDC, #F0F0F0);
    background-image:    -moz-linear-gradient(left, #F0F0F0, #DCDCDC, #F0F0F0);
    background-image:     -ms-linear-gradient(left, #F0F0F0, #DCDCDC, #F0F0F0);
    background-image:      -o-linear-gradient(left, #F0F0F0, #DCDCDC, #F0F0F0);
}

.gist {
    margin-top: 15px;
    margin-bottom: 25px;
}

.gist .gist-data {
    padding-top: 5px;
    padding-bottom: 5px;
}

.gist .gist-data * {
    font-family: 'Source Code Pro', monospace !important;

    font-size: 14px !important;
    line-height: 15px !important;
}

.gist .blob-num {
    font-family: 'Source Code Pro', monospace !important;

    font-size: 14px !important;
    line-height: 15px !important;
}

#post-metadata {
    height: 25px;
    line-height: 25px;

    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
}

#post-metadata .date-container{
    display: inline-block;
}

#post-metadata .tag-container {
    display: inline-block;
}

#post-metadata .tag {
    padding-top: 3px;
    padding-bottom: 3px;

    padding-left: 9px;
    padding-right: 9px;

    border-radius: 12px;

    color: #FFFFFF;

    font-size: 12px;
    font-weight: 300;

    background-color: #0098CC;
    background-image: linear-gradient(135deg, #0098CC 35%, #037fa9 120%);
}

.extra-info {
    color: #B0B0B0;
    font-weight: 400;
    font-size: 14px;
}

#post-content a, h1, h2, h3 {
    color: #0098CC;
}

#post-content h1, h2, h3 {
    font-weight: 400;
}

#post-content h1 {
    margin-top: 25px;
    margin-bottom: 10px;
}

#post-content h2 {
    margin-top: 25px;
    margin-bottom: 7px;
}

#post-content h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

#post-content p {
    line-height: 1.6;

    text-align: justify;
    text-justify: inter-word;
}

#post-content li {
    line-height: 1.6;
}

figure img {
    text-align: center;
    max-width: 100%;
}

figcaption h4 {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;

    margin-top: 2px;
}

.mini-summary-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mini-summary {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mini-summary a {
    width: 100%;

    display: inline-block;
    text-decoration: none;
}

.mini-summary .extra-info {
    float: right;
}

.about-pic img {
    float: left;

    width: 150px;
    height: 150px;

    margin-right: 30px;
    border-radius: 75px;
}

footer {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;

    font-weight: 300;
    font-size: 14px;

    background-color: #272727;
    background-image: linear-gradient(135deg, #002b3a 35%, #10495d 120%);
}

footer p {
    color: #D0D0D0;

    display: block;
    text-align: center;

    height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer a {
    font-weight: normal;
}

/* Small Screens */
@media only screen and (max-width: 768px) {
    header {
        line-height: 48px;
        margin-bottom: 28px;
    }

    header a {
        height: 48px;
    }

    .navbar a {
        display: block;

        width: 100%;
        text-align: center;
    }

    .navbar-extra {
        width: 100%;
    }

    .post-title {
        font-size: 2em;
    }

    .summary-title{
        font-size: 1.7em;
    }

    #post-content {
        margin-bottom: 32px;
    }
}

/* Big Screens */
@media only screen and (min-width: 768px) {
    header {
        line-height: 64px;
        margin-bottom: 50px;
    }

    header a {
        height: 64px;
    }

    .navbar {
        padding-left: 75px;
        padding-right: 75px;
    }

    .navbar a {
        display: inline-block;

        width: 90px;
        text-align: center;
    }

    .post-title {
        font-size: 3.1em;
    }

    #post-content {
        margin-bottom: 45px;
    }
}
